.ribbon-icon.badge-container {
    position: relative;
}

.ribbon-icon.badge-container .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    display: none; /* Initially hidden */
}

.ribbon-icon.badge-container .badge.active {
    display: inline-block; /* Show when active */
}

.notification-title {
    cursor: pointer; /* Add this class to your stylesheet */
}

.notification {
    /* Other styles */
    cursor: default; /* Ensure the default cursor for the container */
}

.bookmark-button {
    margin-left: 10px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.button-margin {
    margin-bottom: 10px; /* Adjust the margin size as needed */
	margin-left: 5px;
	width: 100px;
}

/* CSS for the dropdown menu */
.dropdown-container {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Position below the button */
    left: 0;
    background-color: var(--background-primary); /* Match the Obsidian theme */
    border: 1px solid var(--background-modifier-border); /* Match the Obsidian theme */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Add a scrollbar if the content is too tall */
    width: 200px; /* Set a fixed width */
    display: none; /* Initially hidden */
}

/* CSS for the dropdown items */
.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    color: var(--text-normal); /* Match the Obsidian theme */
}

.dropdown-item:hover {
    background-color: var(--background-modifier-hover); /* Match the Obsidian theme */
}

.fetch-button {
    background-color: #5a45b5; /* Darker shade for hover effect */
    color: white; /* Ensure text is readable */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.fetch-button:hover {
    background-color: #5a45b5; /* Darker shade for hover effect */
}

.selected-tag-label {
	margin-left: 10px;
	display: 'inline-block';
	vertical-align: 'middle';
}

